$background: #e5e5e5;
$white: #fff;
$borderRadius: 6px;



@mixin base-grid{
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

@mixin grid-6{
    grid-column: span 6;
}

@mixin grid-2-10{
    grid-column: 2 / span 10;
}

@mixin grid-3-8{
    grid-column: 3 / span 8;
}

body{
    background: $background;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

img{
    width: 100%;
    border-radius: $borderRadius;
}

header{
    padding: 20px 40px;
    background: $white;
    align-items: center;
    h1{
        @include grid-6;
    }
    nav{
        @include grid-6;
        justify-self: end;
        a{
            color: #333;
            margin-left: 10px;
            text-decoration: none;
            font-size: 2em;
        }
        a:hover{
            color: rgb(99, 10, 94);
            font-weight: bold;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        }
    }
}

main{
    @include base-grid();
    img{
        @include grid-6;
    }
    .welcome{
        grid-column: 8 / span 5;
        text-align: justify;
    }
    > h2{
        grid-column: span 12;
        text-align: center;
        font-size: 1.5em;
        padding-top: 20px;
    }
    .card{
        grid-column: span 4;
        background: $white;
        padding: 10px 20px;
        border-radius: $borderRadius;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    }
}

section{
    @include base-grid();
    div{
        padding: 20px;
        grid-column: span 5;
        text-align: justify;
        h3{
            text-align: center;
        }
    }
    img{
        grid-column: 6 / span 7;
        width: 100%;
    }
}


@media screen and (max-width: 1024px){
    main{
        img{
            grid-column: span 5;
        }
        .welcome{
            grid-column: 6 / span 7;
        }
        .card{
            grid-column: span 6;
        }
    }

    section{
        div{
            grid-column: span 7;
        }
        img{
            grid-column: 8 / span 5;
        }
    }
}

@media screen and (max-width: 768px){
    header{
        nav{
            a{
                font-size: 1.5em;
            }
        }
    }
    main{
        img{
            @include grid-3-8();
        }
        .welcome{
            @include grid-3-8();
        }
        .card{
            @include grid-3-8();
        }
    }

    section{
        div{
            @include grid-3-8();
        }
        img{
            @include grid-3-8();
        }
    }
}